global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'app'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:8000']
        labels:
          service: 'app'

  - job_name: 'node'
    static_configs:
      - targets: ['localhost:9100']
        labels:
          service: 'node_exporter'

  - job_name: 'grafana'
    static_configs:
      - targets: ['localhost:3000']
        labels:
          service: 'grafana'
